{% extends 'base.html' %}

{% block content %}

<h1>Edit a user</h1>

<form action="/users/{{ user.id }}/edit" method="POST">
    <div>
        <label>First Name</label>
        <input type="text" value="{{ user.first_name }}" name="first_name">
    </div>
    <div>
        <label>Last Name</label>
        <input type="text" value="{{ user.last_name }}" name="last_name">
    </div>
    <div>
        <label>Image URL</label>
        <input type="text" value="{{ user.image_url }}" name="image_url">
    </div>
    <span>
        <a href="/users/{{ user.id }}">Cancel</a> <!--Switch formmethod and formaction-->
        <button>Save</button>
    </span>
</form>

{% endblock %}