{% extends 'base.html' %}

{% block content %}

<span>
    <div>
        <img src="{{ user.image_url }}" alt="{{ user.first_name }} {{ user.last_name  }}'s profile picture">
    </div>
    <div>
        <p>{{ user.first_name }} {{ user.last_name }}</p>
        <span>
            <form action="/users/{{ user.id }}/edit">
                <button>Edit</button>
            </form>
            <form action="/users/{{ user.id }}/delete" method="POST">
                <button>Delete</button> <!--formaction and formmethod-->
            </form>
        </span>
        {% for msg in get_flashed_messages() %}
        <p>{{msg}}</p>
        {% endfor %}
        <ul>Posts
            {% for post in posts %}
            <li><a href="/posts/{{ post.id }}"></a>post.title</li>
            {% endfor %}
        </ul>
        <a href="/users/{{ user.id }}/posts/new">Add Post</a>
    </div>
</span>

{% endblock %}